<!DOCTYPE HTML5>

<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>Stuff</title>
</head>

</html>

<h1 style="text-align: center;">User Management</h1>
<div id="addUserModal" class="container">
  <div class="form-group" role="d ">
    <b>Username:</b>
    <input class="form-control" type="text" [(ngModel)]="userNameInput" placeholder="Username">
    <p *ngIf="!userNameInput" class="text-danger">Username is empty</p>
  </div>

  <div class="form-group">
    <b id="userPass">Password:</b>
    <input class="form-control" type="password" [(ngModel)]="userPassInput" placeholder="Password">
    <p *ngIf="!userPassInput" class="text-danger">Password is empty</p>
  </div>

  <div class="form-group">
    <b>First Name:</b>
    <input class="form-control" type="text" [(ngModel)]="userFNameInput" placeholder="First Name">
    <p *ngIf="!userFNameInput" class="text-danger">First Name is empty</p>
  </div>

  <div class="form-group">
    <b>Last Name:</b>
    <input class="form-control" type="text" [(ngModel)]="userLNameInput" placeholder="Last Name">
    <p *ngIf="!userLNameInput" class="text-danger">Last Name is empty</p>
  </div>

  <div class="form-group">
    <b>Email:</b>
    <input class="form-control" type="text" [(ngModel)]="userEmailInput" placeholder="Email">
    <p *ngIf="!userEmailInput" class="text-danger">Email is empty</p>
  </div>
  <div class="form-group">
    <button style="margin-right:15px;" type="button" class="btn btn-outline-success" (click)="userOnAddClick()">Add</button>
    <button *ngIf="currentUpdateEntity != null" style="margin-right:15px;" type="button" class="btn btn-outline-success" (click)="userOnUpdateConfirmClick()">Update</button>
    <span *ngIf="currentUpdateEntity != null">Selected Entity Index: {{currentUpdateEntity}}</span>
    <button style="margin-right:15px;" type="button" class="btn btn-outline-danger"
      (click)="onRemoveByLastClick()">Remove Last</button>
  </div>
</div>

<div class="container mt-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Password</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of this.users; let i = index" [ngClass] = "i === currentUpdateEntity ? 'active' : ''">
        <td *ngIf="user">{{user.username}}</td>
        <td *ngIf="user">{{user.password}}</td>
        <td *ngIf="user">{{user.fname}}</td>
        <td *ngIf="user">{{user.lname}}</td>
        <td *ngIf="user">{{user.email}}</td>
        <td *ngIf="user"><button class="btn-link glyphicon glyphicon-remove" (click)="userOnRemoveClick(i)"></button></td>
        <td *ngIf="user"><button class="btn-link glyphicon glyphicon-edit" (click)="userOnUpdateClick(i)"></button></td>
      </tr>
    </tbody>
  </table>
</div>