<!DOCTYPE HTML5>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="index">Course Application</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="isCurrentUserAdmin" class="nav-item">
        <a class="nav-link" href="#" routerLink="user-list">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="course-list">Courses</a>
      </li>
    </ul>
    <ul class = "navbar-nav navbar-right">
      <li *ngIf="hasLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="account-info"><span class="glyphicon glyphicon-user"></span>My Account</a>
      </li>
      <li *ngIf="!hasLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="register-form"><span class="glyphicon glyphicon-user"></span>Register</a>
      </li>
      <li *ngIf="!hasLoggedIn" class="nav-item">
        <a class="nav-link" routerLink="login-form"><span class="glyphicon glyphicon-log-in"></span>Login</a>
      </li>
      <li *ngIf="hasLoggedIn" class="nav-item">
        <a class="nav-link" href="#" (click)="onLogoutClick()"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

