
<div class="card" [ngClass]="isCourseFavourite(course) ? 'border-warning' : ''">
    <h2 class = "text-center"> {{ course.title }}</h2>
  
    <div class="card-body">
      <p class="card-text">{{ getDescription() }}</p>
      
      <hr />
      <p class="card-text" style="font-size: large;">Average Rating: {{ getAverageRating() }}</p>
      <p class="card=text" style="font-size:large;">Your rating: {{ getUserRating() }}</p>
      <hr />
      <p class="card-text" style="font-size: small;">Date of Publishing: {{ course.dateOfPublish | date }}</p>
  
      <button class="btn btn-primary" (click)="onSelectClick()">Rate</button>
      <button *ngIf="!isCourseFavourite(course)"class="btn btn-warning ml-2" (click)="onFavouriteClick()">Favourite</button>
      <button *ngIf="isCourseFavourite(course)"class="btn btn-warning ml-2" (click)="onUnfavouriteClick()">Unfavourite</button>
      <a *ngIf="isCurrentUserAdmin" class="btn btn-info ml-2" [routerLink]="['/course-add', course.id]">Update</a>
      <button *ngIf="isCurrentUserAdmin" class="btn btn-danger ml-2" (click)="onDeleteClick()">Delete</button>
    </div>
</div>